
.SGreen {
  background-color: #aff !important;
}

.SYellow {
  background-color: #fffacd !important;
}

.SRed {
  background-color: #f30 !important;
}

.SWhite {
  background-color: #fff !important;
}

.CodeMirror-scroll {
  width: 100%;
  height: 90%;
}
