/*
body .reveal .slides section {
	text-align: none;
}
*/

body .reveal .slides #title {
	left; 0px;
	background: #990000;
	overflow: hidden;
	padding: 30px 15px 10px 5px;
	margin-bottom: 10px;
	font: 'Arial':
}

/*
body .reveal .slides #title h1, body .reveal .slides #title h2,
body .reveal .slides #title h3, body .reveal .slides #title h4,
body .reveal .slides #title h5, body .reveal .slides #title h6, {
*/
body .reveal .slides #title h5{
	color: #fff;
}

body .reveal .slides #demo_overview {
	position: relative;
	overflow: hidden;
	float: left;
}

body .reveal .slides img #title{
	position: relative;
	overflow: hidden;
	float: left;
	border: none;
	padding: none;
	-webkit-box-shadow: none;
}

body .reveal .slides #demo_overview img{
	border: none;
	-webkit-box-shadow: none;
}

body .reveal .slides #footer {
	position: relative;
	height: 120px;
	padding-top: 30px;
	margin: 0 auto 0 auto;
	left: 50%;
	top: 50%;
	float: left;
}

body .reveal .slides #footer p5{
	position: relative;
	left: -50%;
	float: left;
	top: 30px;
	padding: 15px 10px 0px 0px;
}

body .reveal .slides #footer p6{
	position: relative;
	font-size: 20px;
	left: -50%;
	float: left;
	top: 30px;
	padding: 15px 10px 0px 0px;
}

body .reveal .slides #footer img{
	position: relative;
	left: -50%;
	float: left;
	vertical-align: middle;
	margin: 0 auto;
	padding: 30px 0px 30px 0px;
	border: none;
	-webkit-box-shadow: none;
}

