/*
body .reveal .slides section {
	text-align: none;
}
*/

body .reveal .slides #title {
	left; 0px;
	background: #990000;
	overflow: hidden;
	padding: 30px 15px 10px 5px;
	margin-bottom: 10px;
	font: 'Arial':
}

/*
body .reveal .slides #title h1, body .reveal .slides #title h2,
body .reveal .slides #title h3, body .reveal .slides #title h4,
body .reveal .slides #title h5, body .reveal .slides #title h6, {
*/
body .reveal .slides #title h2{
	color: #fff;
}

body .reveal .slides #demo_overview {
	position: relative;
	overflow: hidden;
	float: left;
}

body .reveal .slides img #title{
	position: relative;
	overflow: hidden;
	float: left;
	border: none;
	padding: none;
	-webkit-box-shadow: none;
}

body .reveal .slides #demo_overview img{
	border: none;
	-webkit-box-shadow: none;
}

body .reveal .slides #footer {
	position: relative;
	height: 120px;
	padding-top: 30px;
	margin: 0 auto 0 auto;
	left: 50%;
	top: 50%;
	float: left;
}

body .reveal .slides #footer p{
	position: relative;
	font-size: 20px;
	left: -50%;
	float: left;
	top: 30px;
	padding: 15px 10px 0px 0px;
}

body .reveal .slides #footer img{
	height: 80px;
	position: relative;
	left: -50%;
	float: left;
	vertical-align: middle;
	margin: 0 auto;
	padding: 30px 0px 30px 0px;
	border: none;
	-webkit-box-shadow: none;
}

body .reveal .slides #motion {
	margin: 0 auto 0 auto;
	width: 640px;
	height: 480px;
}

body .reveal .slides #form_notice {
	background: #000000;
}

.ui-pnotify.custom .ui-pnotify-container {
	background-color: #404040 !important;
	background-image: none !important;
	border: none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
	font-family: Arial, Helvetica, sans-serif !important;
	text-shadow: 2px 2px 3px black !important;
	font-size: 10pt !important;
	color: #FFF !important;
	padding-left: 50px !important;
	line-height: 1 !important;
	text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom .ui-pnotify-title {
	font-weight: bold;
}
.ui-pnotify.custom .ui-pnotify-icon {
	float: left;
}
.ui-pnotify.custom .picon {
	margin: 3px;
	width: 33px;
	height: 33px;
}
