/*
body .reveal .slides section {
	text-align: none;
}
*/

.reveal aside.reload_icon {
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: darkblue;
	position: fixed;
	width: 80px;
	height: 80px;
	z-index: 30;

	margin-right: 10px;
	margin-bottom: 13px;
	right: 200px;
	bottom: 0px;
	opacity: .1;
	-webkit-box-shadow: 0px 0px 2px rgba(144, 207, 213, 0.3);
}

.reveal aside.reload_icon.enabled {
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: darkblue;
	position: fixed;
	width: 80px;
	height: 80px;
	z-index: 30;

	margin-right: 10px;
	margin-bottom: 13px;
	right: 200px;
	bottom: 0px;
	opacity: 1;
	-webkit-box-shadow: 0px 0px 2px rgba(144, 207, 213, 0.3);
}


.reveal aside.overview_icon {
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: darkblue;
	position: fixed;
	width: 80px;
	height: 80px;
	z-index: 30;

	margin-right: 10px;
	margin-bottom: 13px;
	right: 100px;
	bottom: 0px;
	opacity: .1;
	-webkit-box-shadow: 0px 0px 2px rgba(144, 207, 213, 0.3);
}

.reveal aside.overview_icon.enabled {
	border-radius: 20px;
	border-style: solid;
	border-width: 5px;
	border-color: darkblue;
	position: fixed;
	width: 80px;
	height: 80px;
	z-index: 30;

	margin-right: 10px;
	margin-bottom: 13px;
	right: 100px;
	bottom: 0px;
	opacity: 1;
	-webkit-box-shadow: 0px 0px 2px rgba(144, 207, 213, 0.3);
}

body .reveal .slides #title {
	left; 0px;
	background: #990000;
	overflow: hidden;
	padding: 20px 15px 5px 15px;
	margin-bottom: 10px;
	font: 'Arial':
}

body .reveal .slides #title #script{
	color: #fff;
	float: left;
}

body .reveal .slides #title img{
	position: relative;
	height: 150px;
	float: left;
	left: 68%;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 50px;
}


/*
body .reveal .slides #title h1, body .reveal .slides #title h2,
body .reveal .slides #title h3, body .reveal .slides #title h4,
body .reveal .slides #title h5, body .reveal .slides #title h6, {
*/
body .reveal .slides #title h2,
body .reveal .slides #title h3 {
	color: #fff;
}

body .reveal .slides #demo_overview {
	position: absolute;
	overflow: visible;
	float: left;
	left: 50%;
}

body .reveal .slides img #title{
	position: relative;
	overflow: hidden;
	float: left;
	border: none;
	padding: none;
	-webkit-box-shadow: none;
}

body .reveal .slides #demo_overview img{
	position: relative;
	left: -70%;
	width: 1000px;
	max-width: 200%;
	max-height: 200%;
	border: none;
	-webkit-box-shadow: none;
}

body .reveal #footer-content {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;
	margin: 0 auto 0 auto;
}

	body .reveal #footer-content ul{
		position: relative;
		display: table;
		left: 40%;
		width: 100%;
		float: left;
	}
	
		body .reveal #footer-content ul li{
			position: relative;
			list-style: none;
			float: left;
			margin-right: 10px;
			margin-bottom: 15px;
			width: 100px;
		}
		
			body .reveal #footer-content ul li p{
				position: relative;
				left: -50%;
				float: left;
				display: table-cell;
				text-align: center;
				vertical-align: middle;
				width: 100px!important;
				width: auto;
				font-size: 20px;
			}
			
			body .reveal #footer-content ul li p img{
				border: none;
				-webkit-box-shadow: none;
			}

body .reveal .slides #motion {
	margin: 0 auto 0 auto;
	width: 640px;
	height: 480px;
}

body .reveal .slides #form_notice {
	background: #000000;
}

.ui-pnotify.custom .ui-pnotify-container {
	background-color: #404040 !important;
	background-image: none !important;
	border: none !important;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
	font-family: Arial, Helvetica, sans-serif !important;
	text-shadow: 2px 2px 3px black !important;
	font-size: 10pt !important;
	color: #FFF !important;
	padding-left: 50px !important;
	line-height: 1 !important;
	text-rendering: geometricPrecision !important;
}
.ui-pnotify.custom .ui-pnotify-title {
	font-weight: bold;
}
.ui-pnotify.custom .ui-pnotify-icon {
	float: left;
}
.ui-pnotify.custom .picon {
	margin: 3px;
	width: 33px;
	height: 33px;
}

body .reveal .slides section section .zbx_contents {
	left: 50%;
	position: relative;
	float: left;
}

body .reveal .slides section section .zbx_contents img{
	position: relative;
	float: left;
	left: -50%;
}

body .reveal .slides section section .zbx_form{
	position: relative;
	margin-top: 30px;
	left: 11%;
}
	body .reveal .slides section section .zbx_form #cpu_select{
		position: relative;
		margin-top: 30px;
		left: 11%;
	}
	body .reveal .slides section section .zbx_form #memory_select{
		position: relative;
		margin-top: 30px;
		left: 11%;
	}
	body .reveal .slides section section .zbx_form #network_select{
		position: relative;
		margin-top: 30px;
		left: 11%;
	}
