.tool-bar {
    background-color: whitesmoke;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    margin-bottom: 8px;
}

.tool-bar .tool-bar-item {
    padding: 6px;
    margin: 4px;
    border-width: 0;
    background-color: silver;
    background-image: -moz-linear-gradient(top, lightgray, darkgray);
    border-right: 1px solid gray;
    border-left: 1px solid gainsboro;
    border-radius: 4px;
    width: 120px;
}

.tool-bar .tool-bar-item:hover {
    background-color: lightgray;
    background-image: -moz-linear-gradient(top, gainsboro, silver);
}
